* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.p-lr {
  padding-left: 108px;
  padding-right: 108px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-76 {
  margin-top: 76px;
}

.title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.blueBtn {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  padding: 16px 24px;
  border-radius: 6px;
  background: #4283F0;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 24px 24px 65px 0px rgba(81, 140, 119, 0.24);
}

.date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navbar .hamgurgerMenu {
  display: none;
}
.navbar .nav-menu-items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar .nav-menu-items a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}
.navbar .nav-menu-items .closeMenu {
  display: none;
}

.home-hero {
  width: 100%;
}
.home-hero .hero-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  position: relative;
  padding-right: 0;
}
.home-hero .hero-item .hero-content {
  max-width: 600px;
  width: -moz-max-content;
  width: max-content;
  padding-top: 108px;
  padding-bottom: 112px;
}
.home-hero .hero-item .hero-content .hero-content-topText {
  display: flex;
  align-items: center;
  gap: 12px;
}
.home-hero .hero-item .hero-content .hero-content-topText span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.home-hero .hero-item .hero-content .hero-title {
  margin-top: 28px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-hero .hero-item .hero-content .hero-title span {
  color: #4283F0;
}
.home-hero .hero-item .hero-content .hero-text {
  max-width: 500px;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.home-hero .hero-item .hero-content .hero-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.home-hero .hero-item .hero-content .hero-buttons .downloadBtn {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #000;
  padding: 8px 16px 12px 16px;
  border-radius: 8px;
}
.home-hero .hero-item .hero-content .hero-buttons .downloadBtn img {
  width: 34px;
  height: 34px;
}
.home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text {
  display: flex;
  flex-direction: column;
}
.home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-brandName {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-download {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.home-hero .hero-item .hero-img {
  max-width: 31%;
  width: -moz-max-content;
  width: max-content;
  height: 72%;
  position: absolute;
  top: 28%;
  right: 15%;
  z-index: 20;
}
.home-hero .hero-item .hero-img img {
  width: 100%;
  height: 100%;
}
.home-hero .hero-item::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  background: #4283F0;
}

.statistic-area {
  width: 100%;
}
.statistic-area .statistic-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 24px;
}
.statistic-area .statistic-items .statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 32px 28px 32px;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
}
.statistic-area .statistic-items .statistic-item .statistic-count {
  color: #4283F0;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}
.statistic-area .statistic-items .statistic-item p {
  max-width: 210px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.application-area {
  padding-top: 40px;
  padding-bottom: 48px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.application-area .app-content {
  max-width: 600px;
}
.application-area .app-content .app-content-title {
  color: #000;
  max-width: 460px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.application-area .app-content .app-content-title span {
  color: #4283F0;
}
.application-area .app-content p {
  max-width: 520px;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.application-area .app-content a {
  margin-top: 44px;
}
.application-area .qr_area {
  display: flex;
  align-items: center;
  gap: 24px;
}
.application-area .qr_area .qr_box {
  width: 288px;
  padding: 24px 32px 32px 32px;
  background: #fff;
  border-radius: 6px;
}
.application-area .qr_area .qr_box .qr_box_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #000;
}
.application-area .qr_area .qr_box p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.application-area .qr_area .qr_box .qr_code_img {
  width: 132px;
  height: 132px;
}
.application-area .qr_area .qr_box .qr_code_img img {
  width: 100%;
  height: 100%;
}

.service-section {
  width: 100%;
}
.service-section .service-Slide {
  margin-top: 14px;
}
.service-section .service-Slide .swiper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0 !important;
}

.service-box {
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
  padding: 32px;
  background: #fff;
  border-radius: 6px;
}
.service-box .service-icon {
  width: 80px;
  height: 80px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 50px;
}
.service-box .service-icon img {
  width: 40px;
  height: 40px;
}
.service-box .service_name {
  margin-top: 12px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.service-box p {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.service-box .see_more {
  margin-top: 12px;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 12px;
  color: #4283F0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.advantages-tags {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f5f5f5;
}
.advantages-tags .advantages-tags-Slider .swiper-wrapper {
  width: 100%;
  transition-timing-function: linear;
}

.advantages-tag-item {
  display: flex !important;
  align-items: center;
  gap: 32px;
}
.advantages-tag-item .advantages-tag-img {
  width: 48px;
  height: 48px;
}
.advantages-tag-item .advantages-tag-img img {
  width: 100%;
  height: 100%;
}
.advantages-tag-item p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.offer-section {
  width: 100%;
}
.offer-section .offer-Slide {
  margin-top: 14px;
}
.offer-section .offer-Slide .swiper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0 !important;
}

.offer-box {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
  padding: 40px 32px;
}
.offer-box .offer-name {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.offer-box .offer-pay {
  margin-top: 16px;
  color: #4283F0;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}
.offer-box .offer-services {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 32px;
  padding-right: 32px;
}
.offer-box .offer-services .offer-service-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.offer-box .offer-services .offer-service-item p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.offer-box .offer-services .offer-service-item p span {
  font-weight: 400;
}
.offer-box .now_buy {
  margin-top: 44px;
  width: 100%;
  justify-content: center;
}

.blog-section {
  width: 100%;
}
.blog-section .blog-Slide {
  margin-top: 24px;
}
.blog-section .blog-Slide .swiper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-box {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
}
.blog-box .blog-img {
  width: 100%;
  height: 360px;
}
.blog-box .blog-img img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.blog-box .blog-box-body {
  padding: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.blog-box .blog-box-body .blog-date {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-box .blog-box-body .blog-name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.blog-box .blog-box-body .see_more {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog-box .blog-box-body .see_more span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.contact-area {
  padding-left: 52px;
  padding-right: 52px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.contact-area .contact-details {
  max-width: 47%;
  width: 100%;
}
.contact-area .contact-details .contact-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.contact-area .contact-details .contact-description {
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contact-area .contact-details .contact-items {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-area .contact-details .contact-items .contact-item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact-area .contact-details .contact-items .contact-item .contact-item-icon {
  width: 48px;
  padding: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 50px;
}
.contact-area .contact-details .contact-items .contact-item p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.contact-area .contact-form-area {
  max-width: 47%;
  width: 100%;
  padding: 24px 32px 48px;
  background: #F5F5F5;
}
.contact-area .contact-form-area form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-area .contact-form-area form input {
  padding-top: 12px;
  background: #F5F5F5;
  padding-bottom: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #B3B3B3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contact-area .contact-form-area form .sendForm {
  width: 100%;
  margin-top: 36px;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-area .contact-form-area form textarea {
  padding-top: 12px;
  background: #F5F5F5;
  padding-bottom: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #B3B3B3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  background: #f5f5f5;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-logo {
  display: flex;
  width: 96px;
  height: 40px;
}
.footer .footer-logo img {
  width: 100%;
  height: 100%;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 563px;
  width: 100%;
}
.footer .footer-links .footer-link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .social-media {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .social-media .sosialApp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding-top: 2px;
  border: 1px solid #4283F0;
  border-radius: 50px;
  background: #f5f5f5;
}
.footer .social-media .sosialApp i {
  font-size: 14px;
  color: #4283F0;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #4283F0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-bottom p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-bottom .copyRight-txt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageHead {
  position: relative;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  background: #f5f5f5;
}
.pageHead .page-navigate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.pageHead .page-navigate .prevPage {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.pageHead .page-navigate .currentPage {
  color: #4283F0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.pageHead .page-title {
  margin-top: 16px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.pageHead .page-head-logo {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 68px;
  height: 68px;
}
.pageHead .page-head-logo img {
  width: 100%;
  height: 100%;
}

.allBlogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.allServices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.blog-details-area {
  width: 100%;
}
.blog-details-area .blog-details-img {
  width: 100%;
  height: 665px;
  border-radius: 6px;
}
.blog-details-area .blog-details-img img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.blog-details-area .blog-details-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 71px;
}
.blog-details-area .blog-details-text p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-area {
  width: 100%;
}
.about-area .about-video {
  width: 100%;
  height: 665px;
}
.about-area .about-video iframe {
  width: 100%;
  height: 100%;
}
.about-area .about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 71px;
}
.about-area .about-text p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.whyOurApp-section {
  margin-top: 60px;
}
.whyOurApp-section .appAdvantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
  gap: 24px;
}
.whyOurApp-section .appAdvantages .appAdvantage-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 28px 32px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
}
.whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-img {
  width: 72px;
  height: 72px;
}
.whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-img img {
  width: 100%;
  height: 100%;
}
.whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-title {
  margin-top: 24px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.whyOurApp-section .appAdvantages .appAdvantage-box p {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.seachFilial {
  margin-top: 36px;
  display: flex;
  align-items: center;
}
.seachFilial input {
  width: 100%;
  outline: none;
  padding: 2px 10px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #B3B3B3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.seachFilial .searchFilialBtn {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.all-filial {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.all-filial .filial-box {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
}
.all-filial .filial-box .filial-box-img {
  height: 360px;
  border-radius: 6px;
  width: 100%;
}
.all-filial .filial-box .filial-box-img img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.all-filial .filial-box .filial-box-body {
  padding: 20px 28px;
}
.all-filial .filial-box .filial-box-body .filial-box-name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.all-filial .filial-box .filial-box-body p {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.all-filial .filial-box .filial-box-body p span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.service-inside-area {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.service-inside-area .other-service-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;
}
.service-inside-area .other-service-items .other-service-item {
  display: flex;
  padding: 12px 16px;
  justify-content: start;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: #FFF;
  box-shadow: 0px 1px 24px 0px rgba(66, 131, 240, 0.16);
}
.service-inside-area .other-service-items .other-service-item .other-service-item-logo {
  width: 48px;
  height: 48px;
  background: #f5f5f5;
  border-radius: 50px;
  padding: 12px;
}
.service-inside-area .other-service-items .other-service-item .other-service-item-logo img {
  width: 100%;
  height: 100%;
}
.service-inside-area .other-service-items .other-service-item p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.service-inside-area .service-inside-content {
  width: 70%;
}
.service-inside-area .service-inside-content .service-inside-img {
  width: 100%;
  height: 360px;
  border-radius: 6px;
}
.service-inside-area .service-inside-content .service-inside-img img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.service-inside-area .service-inside-content .service-inside-text {
  margin-top: 24px;
}
.service-inside-area .service-inside-content .service-inside-text p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.offer-form-area {
  display: flex;
  justify-content: center;
}
.offer-form-area form {
  padding: 40px 60px;
  background: #f5f5f5;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.offer-form-area form input {
  padding-top: 12px;
  background: #F5F5F5;
  padding-bottom: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #B3B3B3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.offer-form-area form .radio-btn-area label {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.offer-form-area form .radio-btn-area .radio-btns {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 0px;
}
.offer-form-area form .radio-btn-area .radio-btns .radio-btn-item {
  display: flex;
  align-items: center;
  gap: 3px;
}
.offer-form-area form .radio-btn-area .radio-btns .radio-btn-item label {
  color: #B3B3B3;
}
.offer-form-area form .sendForm {
  width: 100%;
  margin-top: 36px;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-form-area form textarea {
  padding-top: 12px;
  background: #F5F5F5;
  padding-bottom: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #B3B3B3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (min-width: 1700px) {
  .allBlogs {
    grid-template-columns: repeat(4, 1fr);
  }
  .all-filial {
    grid-template-columns: repeat(4, 1fr);
  }
  .allServices {
    grid-template-columns: repeat(4, 1fr);
  }
  .blog-details-area .blog-details-img {
    width: 100%;
    height: 765px;
  }
  .service-inside-area .service-inside-content .service-inside-img {
    height: 500px;
  }
  .about-area .about-video {
    height: 765px;
  }
}
@media only screen and (max-width: 1450px) {
  .advantages-tag-item {
    width: -moz-max-content !important;
    width: max-content !important;
  }
}
@media only screen and (max-width: 1250px) {
  .home-hero .hero-item .hero-content {
    padding-top: 74px;
    padding-bottom: 78px;
    max-width: 500px;
  }
  .home-hero .hero-item .hero-content .hero-title {
    margin-top: 22px;
    font-size: 32px;
    line-height: 48px;
  }
  .home-hero .hero-item .hero-content .hero-buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn {
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #000;
    padding: 8px 16px 12px 16px;
    border-radius: 8px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn img {
    width: 34px;
    height: 34px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text {
    display: flex;
    flex-direction: column;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-brandName {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-download {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .home-hero .hero-item .hero-img {
    right: 11%;
    max-width: 31%;
    height: 70%;
    top: 30%;
  }
  .home-hero .hero-item::after {
    width: 350px;
  }
  .application-area {
    flex-direction: column;
  }
  .application-area .app-content {
    max-width: 100%;
  }
  .application-area .app-content .app-content-title {
    text-align: center;
    max-width: 100%;
    font-size: 28px;
    line-height: 42px;
  }
  .application-area .app-content p {
    max-width: 100%;
    margin-top: 18px;
    text-align: center;
  }
  .application-area .app-content a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }
  .blog-box .blog-img {
    height: 340px;
  }
  .contact-area {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .footer-links {
    max-width: 463px;
  }
  .all-filial .filial-box .filial-box-img {
    height: 300px;
  }
  .service-inside-area .other-service-items .other-service-item p {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 1024px) {
  .p-lr {
    padding-left: 54px;
    padding-right: 54px;
  }
  .mt-76 {
    margin-top: 56px;
  }
  .mt-64 {
    margin-top: 56px;
  }
  .title {
    font-size: 30px;
    line-height: 46px;
  }
  .navbar .hamgurgerMenu {
    display: flex;
  }
  .navbar .nav-menu-items {
    position: fixed;
    z-index: 99;
    right: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    background: #f5f5f5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 50px;
    transition: 0.6s ease;
  }
  .navbar .nav-menu-items .closeMenu {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .navbar .nav-menu-items .closeMenu i {
    font-weight: 700;
    color: #000;
    font-size: 22px;
  }
  .home-hero .hero-item {
    display: flex;
    align-items: start;
    justify-content: start;
    padding-right: 54px;
  }
  .home-hero .hero-item .hero-content {
    max-width: 100%;
    width: -moz-max-content;
    width: max-content;
    padding-top: 40px;
    padding-bottom: 44px;
  }
  .home-hero .hero-item .hero-content .hero-content-topText span {
    font-size: 14px;
    line-height: 20px;
  }
  .home-hero .hero-item .hero-content .hero-title {
    margin-top: 16px;
    font-size: 24px;
    line-height: 36px;
  }
  .home-hero .hero-item .hero-content .hero-text {
    max-width: 100%;
    margin-top: 12px;
  }
  .home-hero .hero-item .hero-content .hero-buttons {
    margin-top: 25px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn {
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #000;
    padding: 8px 12px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-brandName {
    font-size: 14px;
    line-height: 20px;
  }
  .home-hero .hero-item .hero-content .hero-buttons .downloadBtn .downloadBtn-text .text-download {
    font-size: 12px;
  }
  .home-hero .hero-item .hero-img {
    display: none;
  }
  .home-hero .hero-item::after {
    display: none;
  }
  .statistic-area .statistic-items {
    gap: 20px;
    margin-top: 20px;
  }
  .statistic-area .statistic-items .statistic-item .statistic-count {
    font-size: 40px;
    line-height: 60px;
  }
  .service-box {
    padding: 24px;
  }
  .service-box .service-icon {
    width: 72px;
    height: 72px;
    padding: 18px;
  }
  .service-box .service-icon img {
    width: 36px;
    height: 36px;
  }
  .service-box .service_name {
    font-size: 20px;
    line-height: 30px;
  }
  .advantages-tag-item {
    gap: 24px;
  }
  .advantages-tag-item .advantages-tag-img {
    width: 48px;
    height: 36px;
  }
  .advantages-tag-item p {
    font-size: 20px;
    line-height: 30px;
  }
  .offer-box {
    padding: 28px 24px;
  }
  .offer-box .offer-name {
    font-size: 18px;
    line-height: 28px;
  }
  .offer-box .offer-pay {
    margin-top: 10px;
    font-size: 24px;
    line-height: 38px;
  }
  .offer-box .offer-services {
    margin-top: 18px;
    gap: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .offer-box .offer-services .offer-service-item {
    gap: 14px;
  }
  .offer-box .offer-services .offer-service-item p {
    line-height: 22px;
  }
  .blog-section .blog-Slide {
    margin-top: 20px;
  }
  .blog-box .blog-img {
    height: 318px;
  }
  .blog-box .blog-img img {
    width: 100%;
    height: 100%;
  }
  .blog-box .blog-box-body {
    padding: 12px;
    gap: 6px;
  }
  .blog-box .blog-box-body .blog-name {
    font-size: 20px;
    line-height: 30px;
  }
  .contact-area {
    gap: 16px;
  }
  .contact-area .contact-details {
    max-width: 45%;
  }
  .contact-area .contact-details .contact-title {
    font-size: 28px;
    line-height: 42px;
  }
  .contact-area .contact-details .contact-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .contact-area .contact-details .contact-items {
    margin-top: 30px;
  }
  .contact-area .contact-details .contact-items .contact-item {
    gap: 18px;
  }
  .contact-area .contact-details .contact-items .contact-item p {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-area .contact-form-area {
    max-width: 45%;
    padding: 24px 32px 40px;
  }
  .contact-area .contact-form-area form {
    gap: 12px;
  }
  .footer .footer-links {
    max-width: 400px;
  }
  .footer .footer-links .footer-link {
    font-size: 14px;
    line-height: 20px;
  }
  .pageHead {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .pageHead .page-title {
    font-size: 32px;
    line-height: 48px;
  }
  .pageHead .page-head-logo {
    width: 68px;
    height: 68px;
  }
  .allBlogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .allServices {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-details-area .blog-details-text {
    gap: 16px;
    margin-top: 40px;
  }
  .blog-details-area .blog-details-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .about-area .about-text {
    gap: 16px;
    margin-top: 40px;
  }
  .about-area .about-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .whyOurApp-section {
    margin-top: 46px;
  }
  .whyOurApp-section .appAdvantages {
    margin-top: 20px;
    gap: 20px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box {
    padding: 28px 28px 24px 28px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-img {
    width: 68px;
    height: 68px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 34px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .all-filial {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .all-filial .filial-box .filial-box-img {
    height: 360px;
  }
  .all-filial .filial-box .filial-box-body {
    padding: 16px 24px;
  }
  .all-filial .filial-box .filial-box-body .filial-box-name {
    font-size: 20px;
    line-height: 30px;
  }
  .offer-form-area form {
    padding: 30px 40px;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .p-lr {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mt-76 {
    margin-top: 36px;
  }
  .mt-64 {
    margin-top: 36px;
  }
  .title {
    font-size: 24px;
    line-height: 36px;
  }
  .blueBtn {
    padding: 12px 16px;
    font-weight: 600;
  }
  .home-hero .hero-item {
    padding-right: 20px;
  }
  .statistic-area .statistic-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 16px;
  }
  .statistic-area .statistic-items .statistic-item {
    padding: 24px 32px 28px 32px;
  }
  .statistic-area .statistic-items .statistic-item .statistic-count {
    font-size: 32px;
    line-height: 48px;
  }
  .statistic-area .statistic-items .statistic-item p {
    font-size: 14px;
    line-height: 20px;
  }
  .application-area .app-content {
    max-width: 100%;
  }
  .application-area .app-content .app-content-title {
    text-align: start;
    font-size: 24px;
    line-height: 36px;
  }
  .application-area .app-content p {
    margin-top: 12px;
    text-align: start;
  }
  .application-area .app-content a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
  }
  .application-area .qr_area {
    display: none;
  }
  .service-box {
    padding: 16px;
  }
  .service-box .service-icon {
    width: 64px;
    height: 64px;
    padding: 16px;
  }
  .service-box .service-icon img {
    width: 32px;
    height: 32px;
  }
  .service-box .service_name {
    font-size: 16px;
    line-height: 24px;
  }
  .service-box p {
    margin-top: 8px;
  }
  .service-box .see_more {
    font-size: 14px;
    line-height: 20px;
  }
  .advantages-tags {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .advantages-tag-item {
    gap: 16px;
  }
  .advantages-tag-item p {
    font-size: 16px;
    line-height: 24px;
  }
  .offer-box {
    padding: 16px;
  }
  .offer-box .offer-name {
    font-size: 16px;
    line-height: 24px;
  }
  .offer-box .offer-pay {
    margin-top: 4px;
    font-size: 20px;
    line-height: 32px;
  }
  .offer-box .offer-services {
    margin-top: 16px;
    gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .offer-box .offer-services .offer-service-item {
    gap: 12px;
  }
  .offer-box .offer-services .offer-service-item p {
    line-height: 20px;
  }
  .blog-section .blog-Slide {
    margin-top: 16px;
  }
  .blog-box .blog-img {
    height: 276px;
  }
  .blog-box .blog-img img {
    width: 100%;
    height: 100%;
  }
  .blog-box .blog-box-body {
    padding: 8;
    gap: 4px;
  }
  .blog-box .blog-box-body .blog-name {
    font-size: 16px;
    line-height: 24px;
  }
  .blog-box .blog-box-body .see_more span {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-area {
    flex-direction: column;
    gap: 44px;
  }
  .contact-area .contact-details {
    max-width: 100%;
  }
  .contact-area .contact-details .contact-title {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
  .contact-area .contact-details .contact-description {
    display: none;
  }
  .contact-area .contact-details .contact-items {
    margin-top: 16px;
  }
  .contact-area .contact-details .contact-items .contact-item {
    gap: 12px;
  }
  .contact-area .contact-form-area {
    max-width: 100%;
    padding: 24px 32px 32px;
  }
  .contact-area .contact-form-area form {
    gap: 12px;
  }
  .contact-area .contact-form-area form .sendForm {
    margin-top: 32px;
  }
  .footer {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
  }
  .footer .footer-logo {
    display: flex;
    width: 96px;
    height: 40px;
  }
  .footer .footer-logo img {
    width: 100%;
    height: 100%;
  }
  .footer .footer-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 100%;
    gap: 16px;
    width: 100%;
  }
  .footer .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 184px;
    gap: 8px;
  }
  .footer .social-media .sosialApp {
    background: #4283F0;
  }
  .footer .social-media .sosialApp i {
    color: #fff;
  }
  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
    justify-content: start;
  }
  .footer-bottom .copyRight-txt {
    gap: 5px;
    text-align: start;
    align-items: start;
    justify-content: start;
  }
  .footer-bottom .copyRight-txt svg {
    margin-top: 5px;
    width: 12px;
    height: 12px;
  }
  .footer-bottom .voen {
    margin-left: 10px;
  }
  .pageHead {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pageHead .page-title {
    font-size: 24px;
    line-height: 36px;
  }
  .pageHead .page-head-logo {
    width: 48px;
    height: 48px;
  }
  .blog-details-area .blog-details-img {
    height: 476px;
  }
  .blog-details-area .blog-details-text {
    gap: 12px;
    margin-top: 14px;
  }
  .blog-details-area .blog-details-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .about-area .about-video {
    height: 476px;
  }
  .about-area .about-text {
    gap: 12px;
    margin-top: 14px;
  }
  .about-area .about-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .whyOurApp-section {
    margin-top: 32px;
  }
  .whyOurApp-section .appAdvantages {
    margin-top: 16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box {
    padding: 32px 40px 28px 40px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-img {
    width: 64px;
    height: 64px;
  }
  .whyOurApp-section .appAdvantages .appAdvantage-box .appAdvantage-box-title {
    margin-top: 16px;
    font-size: 20px;
    line-height: 32px;
  }
  .all-filial {
    margin-top: 24px;
  }
  .all-filial .filial-box .filial-box-img {
    height: 360px;
  }
  .all-filial .filial-box .filial-box-body {
    padding: 12px 20px;
  }
  .all-filial .filial-box .filial-box-body .filial-box-name {
    font-size: 16px;
    line-height: 24px;
  }
  .all-filial .filial-box .filial-box-body p {
    gap: 4px;
  }
  .service-inside-area {
    justify-content: center;
    gap: 0;
    width: 100%;
  }
  .service-inside-area .other-service-items {
    display: none;
  }
  .service-inside-area .service-inside-content {
    width: 100%;
  }
  .service-inside-area .service-inside-content .service-inside-img {
    height: 360px;
  }
  .service-inside-area .service-inside-content .service-inside-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .offer-form-area form {
    padding: 30px;
    width: 100%;
  }
  .offer-form-area form .radio-btn-area .radio-btns {
    margin-top: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10px;
    align-items: start;
  }
  .offer-form-area form .sendForm {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 680px) {
  .allBlogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .allServices {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-details-area .blog-details-img {
    height: 450px;
  }
  .about-area .about-video {
    height: 450px;
  }
  .all-filial .filial-box .filial-box-img {
    height: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .blog-details-area .blog-details-img {
    height: 400px;
  }
  .about-area .about-video {
    height: 400px;
  }
  .all-filial {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .service-inside-area .service-inside-content .service-inside-img {
    height: 276px;
  }
}
@media only screen and (max-width: 500px) {
  .blog-details-area .blog-details-img {
    height: 350px;
  }
  .about-area .about-video {
    height: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .blog-details-area .blog-details-img {
    height: 300px;
  }
  .about-area .about-video {
    height: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .blog-details-area .blog-details-img {
    height: 276px;
  }
  .about-area .about-video {
    height: 276px;
  }
}/*# sourceMappingURL=style.css.map */
.languages {
    display: flex;
    align-items: center;
    gap: 2px;
}
.languages .lang-item {
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.languages .active-lang {
    background: #f5f5f5;
    color: #000;
    font-weight: 700;
    border-radius: 6px;
}
/* Pagination Styles */
.pagination_nav {
    margin-top: 20px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    border-radius: 0.25rem;
}

.page-item {
    display: inline;
}

.page-item.disabled .page-link,
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* Responsive Styles */
@media (max-width: 576px) {
    .pagination {
        flex-wrap: wrap;
    }

    .page-item {
        margin-bottom: 0.25rem;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0.25rem;
    }
}
